@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1>University Registrar</h1>
</div>

<a href="/course-list" class="btn btn-info">Course List</a>
<a href="/student-list" class="btn btn-info">Student List</a>
